* {
  box-sizing: border-box;
}

body {
  font-size: calc(2vh + 2px);
  height: calc(100vh - 1rem);
  margin: 0.5rem;
  font-family: "Hanken Grotesk";
  background-color: #69f7be;
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
}

#content > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 170%;
}

select {
  background-color: white;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  padding: 0.2rem;
}

footer {
  margin-top: 0.1rem;
  text-align: center;
}

button {
  font-family: inherit;
  font-size: 100%;
  background-color: #ffffff;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  margin: 0.1rem;
}

#error {
  font-weight: bold;
}

#title {
  font-size: 130%;
  font-weight: bold;
}

textarea {
  margin: 0.3rem 0 0 0;
  width: 100%;
}

#select {
  margin: 0.3rem 0;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.2rem 0.15rem;
  overflow-wrap: anywhere;
  border: 0.1rem solid black;
  text-align: center;
}

td:nth-child(2),
td:nth-child(11) {
  color: blue;
}

td:nth-child(6),
td:nth-child(15) {
  color: darkblue;
}

td:not(:only-child):is(:nth-child(1), :nth-child(10)) {
  color: yellow;
}

.success {
  color: green;
}

.failed {
  color: red;
}

.maybe {
  color: lightyellow;
}

.skipped {
  color: olive;
}

pre {
  margin: 0.15rem;
  display: inline-block;
  vertical-align: middle;
}
